body {
  background-color:#000;
  font-size:22px;
  font-family:Helvetica;
  color:seashell;
  opacity:0.9;
  text-align:center;
  margin:0 0;
  padding:0 0;
}

header {
  width:100%;
  height:80px;
  border-bottom:1px solid seashell;
  position:fixed;
  height:69px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

header img {
  height:50px;
  width:auto;
  float:left;
  margin-left:10px;
}

header nav {
  margin-right:10px;
  width:355px;
  display:flex;
  justify-content:space-between;
}

nav a {
  font-family:Helvetica;
  font-size:22px;
  color:seashell;
  background-color:black;
  opacity:0.9;
  text-decoration:underline;
}

.mission {
  display:flex;
  position:relative;
  top:70px;
  margin:0 auto;
  width:1200px;
  height:700px;
  background-image:url('../images/img-mission-background.jpg');
}

.mission .overlay {
  align-self:center;
  background-color:#000;
  width:100%;
  height:105px;
}

.mission .overlay h2 {
  margin-top:15px;
}

.mission .overlay h4 {
  margin-top:-5px;
}
